<div class="wraper" style="height: 100%">
  <div class="justify-content-center">
    <div class="col-sm-3 col-lg-12 p-4">
      <div class="text-center  mt-2">
        <h1><%= @event.name.capitalize %></h1>
        <p class="pb-2">
          <i class="fa-solid fa-crown"></i> <strong><%= @event.user.username %></strong>
        </p>
      </div>
       <p class="border-bottom border-secondary">Bars</p>
      <div class="row justify-content-center p-2">
        <% @bars.each do |bar| %>

          <div class="col-sm-12 col-lg-3 card-trip m-3"
               style="width: 400px; border-radius: 5px; padding: 0">
            <%= image_tag bar.photo %>
            <div class="card-trip-infos">
              <div>
                <h2><%= bar.name %></h2>
                <p><%= bar.address %></p>
                <p><%= bar.rating %> <i class="fa-solid fa-star"></i></p>
              </div>
              <%= link_to "VOTE", event_votes_path(@event, bar: bar), data: { turbo_method: :post }, class: "btn btn-ghost btn-sm" %>
            </div>
          </div>

        <% end %>
      </div>
    </div>
    <div class="col-sm-3 col-lg-12 d-flex justify-content-center">
      <%= link_to map_path, class: "btn btn-ghost", style: "border: 1px solid black; border-radius: 20Px; position : fixed; bottom : 30px;" do %>
        CARTE <i class="fa-solid fa-map"></i>
      <% end %>
    </div>
  </div>
</div>
