<div class="wraper">
  <div class="container pt-2">
    <h1 class="mt-3 text-center" style="color: #003566; font-weight: 600"> Dashboard </h1>

    <%# Div du profil user %>
    <div class="p-2 d-flex align-items-center" style="background: #001D3D; color: white;">
      <div>
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class:"avatar", style: "width: 70px; height: 70px" %>
        <% else %>
          <%= image_tag "https://as1.ftcdn.net/v2/jpg/03/53/11/00/1000_F_353110097_nbpmfn9iHlxef4EDIhXB1tdTD0lcWhG9.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
      </div>

      <div class="ms-2 mt-3">
        <p style="color: white"><%= current_user.username%><br>
        <%= link_to edit_user_registration_path, class: "text-decoration-none", style: "color: white; font-size:12px; color: white;" do %>
            Modifier mon profil
          <i class="fa-solid fa-pen-to-square" style="color: white">
          </i>
        <% end %>
        </p>
      </div>
    </div>


    <%# Div de mes événements à venir en tant qu'admin et participant %>
    <div class="mt-4">
      <p class="fs-3" style="color: #003566; font-weight: 600">Mes événements à venir</p>
    </div>
    <% @my_future_events.each do |event|%>
      <%= link_to path_to_event(event), class:"text-decoration-none text-dark" do %>
        <div class="card-product" style="height: 100px">
          <img class="bar-img" src="https://images.unsplash.com/photo-1580397581145-cdb6a35b7d3f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2660&q=80"/>
          <div class="card-product-infos p-2">
            <h2 style="font-size: 13px"><%= event.name %> |
                <% if event.user == current_user%>
                  <i class="fa-solid fa-crown"></i>
                <%else%>
                  <%= event.user.username %>
                <%end%></h2>
            <p style="font-size: 9px"><strong><i class="fa-sharp fa-solid fa-calendar-days"></i> <%= I18n.l(event.date).capitalize %></strong></p>
            <p style="font-size: 9px"><strong><i class="fa-solid fa-user-group"></i> <%= event.event_users.count %>
              <% if event.event_users.count == 1 %>
                <%="invité"%>
              <% else %>
                <%="invités"%>
              <% end %>
                </strong> <strong><i class="fa-solid fa-user-group"></i> <%= translate(event.status) %></strong> </p>
             <p style="font-size: 9px">
             <%# <% if event.status == 2 %>
            <%# #  && EventUser.where(user: current_user, event: event).first.votes.present? %>
                <%# <%= "A voté" %>
              <%# <% end %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>

    <%# Div de mes événements passés en tant que participant et admin %>
      <div class="mt-4">
      <p class="fs-3" style="color: #003566; font-weight: 600"> Mes événements passés </p>
      </div>
      <% @my_past_events.each do |event|%>
        <%= link_to path_to_event(event), class:"text-decoration-none text-dark" do %>
          <div class="card-product" style="height: 100px">
            <img class="bar-img" src="https://images.unsplash.com/photo-1580397581145-cdb6a35b7d3f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2660&q=80"/>
              <div class="card-product-infos p-2">
                <h2 style="font-size: 13px"><%= event.name %> |
                    <% if event.user == current_user%>
                      <i class="fa-solid fa-crown"></i>
                    <%else%>
                      <%= event.user.username %>
                    <%end%></h2>
                <p style="font-size: 9px"><strong><i class="fa-sharp fa-solid fa-calendar-days"></i> <%= event.date.strftime("%A %-d %B %Y à %k:%M") %></strong></p>
                <p style="font-size: 9px"><strong><i class="fa-solid fa-user-group"></i> <%= translate(event.status) %></strong></p>
              </div>
          </div>
        <% end %>
      <% end %>

  </div>
</div>
